.content{
    width:  1000px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;

}
.ima{
    width: 300px;
    float:left;
    margin-right: 1px;
    height: auto;
    
    

}
.nd{
    width:650px;
    float: right;
    padding: 20px;
    background-color: aquamarine;
    height: auto;
}
img{
    max-width: 100%;
    height: auto;
}
.bt{
    background-color: greenyellow;
    border: 1px solid gold;
}